@CHARSET "utf-8";

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 100%;
	font-family: Verdana, Arial, sans-serif;
	list-style: none;
	text-decoration: none;
}

a, a:link, a:active{
	text-decoration: none;
	color: #ff9933;
}

a:hover, a:focus{
	background-color: #ff9933;
	color: black;
}

.active{
    background-color: #ff9933;
    color: #626262;
}

.clearfix{
    clear: both;
}

body {
	
	background-color: #E6E6E6;
	color: #ff9933;
	width: 100%;
	margin: 0 auto;
	
}

/* ************* */
/*    HEADER     */
/* ************* */

header{
	
	text-align: center;
	height: 100px;
	position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #666;
}

header ul li{
	display:inline-block;
}

header h1{
	
	padding-top: 0.5em;
	font-size: 1.5em;
	text-align: center;
	height: 45px;
	vertical-align: middle;
	background-color: #666666;
}

header ul#menu{
	height: 26px;
	margin-top: 10px;
	background-color: black;
    padding: 12px;
}

header ul li{
	
	font-weight: bold 
}

header ul#menu li a{
	padding: 5px 20px;
	border-radius: 3px;
	
}

header a#contact img{ 
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0,-50%);
    margin-left: 20px;
    border: none;
}

header a#contact {
    text-decoration: none;
    background-color: transparent;
}

.menu_s{
	display: none;
	background-color: #666666;
}

div#main header h1 a{
	
	text-decoration: none;
	background-color: transparent;
	color: #ff9933;
	
}



/* ************* */
/* Social links */
/* ************* */

.social-links  {
    margin: 10px 10px 0 0;
    display: inline-block;
    width: 150px;
    float: right;
}

.social-links ul{
  font-size: 0;
}

/*
.social-links li {
  display: inline-block;
  margin-right: 5px;
}
*/


.ie67 .social-links li {
   display: inline;
    zoom: 1;
}

.social-links a {
  display: block;
  width: 30px;
  height: 34px;
  background-image: url("../img/sprite_sl.jpg");
  background-repeat: no-repeat;
}

.social-links a.facebook {
  background-position: 0 0;
}

.social-links a.pinterest {
  background-position: -68px 0;
}

.social-links a.twitter {
  background-position: -34px 0;
}

.social-links a.linkedin {
  background-position: -102px 0;
}


/* ************** */
/*   MOTIVATION   */
/* ************** */


#motivation, #competences, #portfolio, #contact_c{
    
    background-color: #E6E6E6;
    position: relative;
    top: 6.60em; /* 100px */
    padding-top: 30px;
    padding-bottom: 100px;
    
}   


h2.s_titre{
    text-align: center; 
    font-size: 3.4em;
    padding-top: 60px; 
}

#br{
        display: none;
    }
    

#motivation h3{
    text-align: center;
    font-size: 1.5em;
}

#motivation > p{
    width: 90%;
    font-size 0.8em;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: 85px auto 0;
    background-color: #1C1C1C;
    line-height: 1.6em;
}

@media (max-width: 671px) {
 
    #motivation > p {
     font-size: 0.81em;   
    }    
}

div#moi{
    width: 100%;
    text-align: center;
}

div#moiimg{
    display: inline-block; 
}

div#moiimg img{
    width: 90%;
}


div#qrcode h3#vm{
    font-size: 0.9em;
    margin-top: 30px;
}

div#qrcode{
    width: 100%;
    margin-top: 25px;
    text-align: center;
}
}

div#qrcode{
    display: inline-block; 
}

div#qrcode img{
    width: 10%;
}

div#cv {
   padding: 10px;
   margin-top: -18px;
  
}

div#cv a:hover{
    text-decoration: none;
    background-color: transparent;
    color: black;
}



/* *************  */
/*  COMPETENCES   */
/* *************  */

a[id^="bc"]:hover, a[id^="bc"]:focus{
    background-color: #ff9933;
    color: white;
}

#competences p#c1, #competences p#c2 {
    
    padding: 10px;
    background-color: #cccccc;
    color: black;
}

#competences h2{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    position: relative;
    top: 60px;
    line-height: 45px;
    font-size: 1.5em;
}


.progress {
    background: none repeat scroll 0 0 #f0f0f0;
    width: 80%;
    border-radius: 3px;
    /*height: 50px;*/
    margin: 5px auto;
    position: relative;
    top: 60px;
}

.progress .bar {
    display: inline-block;
    border-radius: 3px 0 0 3px;
    font-size: 1.2em;
    line-height: 50px;
    text-align: left;
    text-indent: 20px;
    background: none repeat scroll 0 0 #474747;
}

   a#bc1 span#comp1{
    
        width: 85%;
    }

    a#bc2 span#comp2{
        width: 85%;
    }

    a#bc3 span#comp3{
        width: 75%;
    }

    a#bc4 span#comp4{
        width: 75%;
    }

    a#bc5 span#comp5{
        width: 65%;
    }
	
	 a#bc6 span#comp6{
        width: 50%;
    }

 .progress ul {
    padding: 10px 0 10px 20px;
    margin-left: 20px;
    color: black;
}

.progress ul li{
    list-style: square;
}

 
/* ***********  */
/*  PORTFOLIO   */
/* ***********  */

#portfolio{
    
    width: 100%;
    margin: 0 auto;
    text-align: center;
}    

#portfolio > h2{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    position: relative;
    top: 60px;
    line-height: 45px;
    font-size: 1.5em;
}

div.site{
    width: 100%;
    margin: 40px  auto;
    position: relative;
    top: 50px;
}

div#jzik{
     top: 60px;
}

div.portfolio_site{
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 60px;
}

div.portfolio_img img{
    width: 195px;
    position: relative;
    float: left;
    padding: 20px 20px;
}

div.portfolio_txt{
    width: 60%;
    background-color: #CCC;
    position: relative;
    top: 20px;
    float: right;
    padding: 8px;;
    margin-right: 20px;
    color: black;
    text-align: left;
    height: 11em;
}

div#patguitar h3, div#jzik h3, div#artmetal h3, div#lola h3{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    line-height: 25px;
    padding-left: 10px;
}

div.portfolio_txt p{
    width: 90%;
    background-color: #CCC;
    padding: 18px 20px 0;
    color: black;
    text-align: left;
    height: 7em;
    font-size: 0.9em;
}

@media (min-width: 660px) and (max-width: 860px) {
    
    
     div.portfolio_txt{
         float: none; 
         width: 97%;
     }
     
    div.portfolio_img img {
        width: 129px;
        position: relative;
        float: left;
        padding: 68px 37px;
        z-index: 1;
    }
    
    div.portfolio_txt p{
        width: 90%;
        background-color: #CCC;
        padding: 18px 20px 0;
        color: black;
        text-align: left;
        height: 7em;
        font-size: 0.9em;
    }
    
    .progress {
        background: none repeat scroll 0 0 #f0f0f0;
        width: 80%;
        border-radius: 3px;
        /*height: 50px;*/
        margin: 5px auto;
        position: relative;
        top: 60px;
    }
    
    .progress .bar {
        display: inline-block;
        border-radius: 3px 0 0 3px;
        font-size: 1.2em;
        line-height: 50px;
        text-align: left;
        text-indent: 20px;
        background: none repeat scroll 0 0 #474747;
        width: 100%;
    }
    
    a#bc1 span#comp1{
        width: 85%;
    }

    a#bc2 span#comp2{
        width: 85%;
    }

    a#bc3 span#comp3{
        width: 75%;
    }

    a#bc4 span#comp4{
        width: 75%;
    }

    a#bc5 span#comp5{
        width: 65%;
    }
    
      
}

@media (max-width: 723px) {
 
    div.portfolio_txt p {
     font-size: 0.85em;   
    }    
}

@media (max-width: 659px) {
            
    a#bc1 span#comp1, a#bc2 span#comp2, a#bc3 span#comp3, a#bc4 span#comp4, a#bc5 span#comp5{
        width: 100%;
    }
    
         div.portfolio_txt{
         float: none; 
         width: 97%;
     }
     
    div.portfolio_img img {
        width: 129px;
        position: relative;
        float: left;
        padding: 68px 37px;
        z-index: 1;
    }
    
    div.portfolio_txt p{
        width: 90%;
        background-color: #CCC;
        padding: 18px 20px 0;
        color: black;
        text-align: left;
        height: 7em;
        font-size: 0.8em;
    }
    
}

/* ************* */
/*    FOOTER     */
/* ************* */

footer{
    position: relative;
    top: 100px;
    text-align: center;
    background-color: #666;
}

footer#contact_c{
    
}

footer#contact_c h2 {
    background-color: white;
    font-size: 1.5em;
    line-height: 45px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 60px;
    width: 80%;
}

footer#contact_c p#cc3, footer#contact_c p#cc4{
    width: 80%;
    margin: 0 auto;
    background-color: #CCC;
    padding: 80px 20px 0;
    color: black;
    text-align: left;
    height: 7em;
    font-size: 0.9em;
}

footer#contact_c p#cc4{
    padding-top: 0;
}

p.tel{
    
    margin-top: 7px;
    text-align: center;
}

p.tel img{
    width: 50px;
}

p.tel a:hover, p.tel a:link, p.tel img:hover{
    text-decoration: none;
    background-color: transparent;
}

a.mail:link{
    text-decoration: none;
    background-color: transparent;
    color: black;
}

a.mail:hover{
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.social-links_c{
    display: none;
}


